  
	<div ng-controller="usersController"> 
        <div class="pull-left" style="width: 200px;">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></div>
                <select class="form-control" ng-model="data.filter" ng-change="filter()">
                    <option value="Super Admin">Super Admin</option>
                    <option value="Admin">Admin</option>
                    <option value="Standard User">Standard User</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                    <option value="All">Show All</option>
                </select>
            </div>
        </div>
    	<div class="pull-right">
    		<button md-ink-ripple class="md-btn md-raised m-b" ng-click="add()" style="background-color: #043E91; color: white;"><i class="fa fa-plus"></i> Add Account</button>
    	</div>
    	<div class="input-group pull-right" style="width: 200px; margin-right: 1%;">
            <input class="form-control" ng-model="searchKeyword" placeholder="Search account" type="search" ng-change="search()" /> 
    		<span class="input-group-addon">
    			<span class="glyphicon glyphicon-search"></span>
    		</span>
        </div>
    	<div id="printMe">
    	   <table class="table table-bordered table-hover bg-white">
    		    <thead>
                    <tr>
                        <th style="width:3%">#</th>
                        <th style="width:3%">Image</th>
                        <th>Username</th>
                        <th>Full name</th>
                        <th>User Type</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th  style="width:3%"></th>
                    </tr>
                </thead>
    		    <tbody>
    		        <tr ng-repeat="item in users | filter: searchKeyword track by $index">
                        <td>{{$index + 1}}</td>
                        <td><img height="30" width="30" class="img img-circle" ng-src="{{item.image}}"/></td>
                        <td>{{item.username}}</td>
                        <td>{{item.firstname}} {{item.middlename}}. {{item.lastname}}</td>
                        <td>{{item.user_type}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.date_created}}</td>
                        <td><a href ng-click="edit(item.uid)"><i class="fa fa-edit"></i></a></td>
                    </tr>
                </tbody>
    	  </table>
    	</div>
	</div>

	  