<div class="box bg-white" ng-controller="asideController" id="asideBar">
  <div class="navbar md-whiteframe-z1 no-radius" style="background-color: #043E91;" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
      <a class="navbar-brand">
        <!--<img src="assets/img/header_logo.png" alt="." style="max-height: 36px;">-->
        <center><span style="color: white; font-weight: bolder;">J3</span></center>
      </a>
      <!-- / brand -->
  </div>
  <div class="box-row" ng-repeat="item in user_detail">
    <div class="box-cell scrollable hover">
      <div class="box-inner">
        <div class="p hidden-folded" ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'" style="background-image:url(assets/app/images/bg.png); background-size:cover">
          <div class="rounded w-64 bg-white inline pos-rlt">
            <img ng-src="{{item.image}}" class="img-responsive rounded">
          </div>
          <a class="block m-t-sm" ui-toggle-class="hide, show" target="#nav, #account">
            <span class="block font-bold">{{item.firstname}} {{item.lastname}}</span>
            <span class="pull-right auto">
              <i class="fa inline fa-caret-down"></i>
              <i class="fa none fa-caret-up"></i>
            </span>
         {{item.user_type}}
          </a>
        </div>
        <div id="nav" ng-include="'assets/app/views/partials/aside.nav.uikit.html'"></div>
        <div id="account" class="hide m-v-xs">
          <nav>
            <ul class="nav">
              <li>
                <a md-ink-ripple ui-sref="app.profile">
                  <i class="icon mdi-action-perm-contact-cal i-20"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li class="m-v-sm b-b b"></li>
              <li>
                <a md-ink-ripple ui-fullscreen>
                  <i class="icon mdi-navigation-fullscreen i-24"></i>
                  <span>Fullscreen</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul class="nav b-t b">
      <li>
        <a href ng-click="logout()">
          <i class="icon mdi-action-exit-to-app i-20"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
