
	<div class="modal-header">
		<h3 class="modal-title">Edit Training Schedule</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Select Category</label>
			<select class="form-control" ng-model="category_id" ng-change="loadCourses()">
				<option ng-repeat="item in categories track by $index" value="{{item.category_id}}">{{item.category_name}}</option>
			</select>
		</div>
		<div class="form-group">
			<label>Select Course</label>
			<select ng-model="course_id" class="form-control">
				<option ng-repeat="item in courses track by $index" value="{{item.course_id}}">{{item.course_name}}</option>
			</select>
		</div>
		
		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Date Start</label>
						<div>
							<p class="input-group">
								<input type="text" id="start_date" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startOpened" min-date="'2000-01-01'" max-date="'2050-01-01'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
							<button type="button" class="btn btn-sm btn-primary" ng-click="day('start')">Today</button>
							<button type="button" class="btn btn-sm btn-default" ng-click="clear('start')">Clear</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Date End</label>
						 <div>
							<p class="input-group">
							  <input type="text" id="end_date" class="form-control" datepicker-popup="{{format}}" ng-model="endDate"  is-open="endOpened" min-date="'2000-01-01'" max-date="'2050-01-01'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							  <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							  </span>
							</p>
							<button type="button" class="btn btn-sm btn-info" ng-click="day('end')">Today</button>
						    <button type="button" class="btn btn-sm btn-default" ng-click="clear('end')">Clear</button>
					   </div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			 <div class="row">
				<div class="col-md-6">
					<label>Time Start</label>
					<div class="m-b-lg">
						<timepicker ng-model="startTime"  hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
						<!--<pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>-->
					</div>
				</div>
				<div class="col-md-6">
					<label>Time End</label>
					<div class="m-b-lg">
						<timepicker ng-model="endTime" ng-change="t()" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
						<!--<pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>-->
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="location">Location</label>
			<input type="text" class="form-control" id="location" ng-model="training_location" placeholder="Enter training location">
		</div>
		Amount to be paid (₱):
		<div class="form-group">
			<label for="regular">Regular</label>
			<input type="number" class="form-control" id="regular" ng-model="regular" placeholder="Regular rate">
		</div>
		<div class="form-group">
			<label for="discounted">Discounted</label>
			<input type="number" class="form-control" id="discounted" ng-model="discounted" placeholder="Discounted rate ">
		</div>
	</div>
	<div class="modal-footer">                  
		<button class="btn btn-default" ng-click="btnCancelClicked()">Cancel</button>
		<button class="btn btn-success" ng-click="btnOkClicked()">Save</button>
	</div>
	
