	
	<div class="row">
		<div class="col-md-6 col-md-offset-3" ng-controller="iniTrainingViewsController">
			<div class="panel p"  style="margin-top: 5%;">
				<div class="alert alert-info">
					<center>
						<small>Add new Course in course directory. This is needed to create training schedules.</small><br>
						<button md-ink-ripple class="md-btn md-raised m-b btn-fw bg-white" ng-click="addTraining()">Add Course</button>
					</center>
				</div>
				<center><span>-- OR --</span></center>
				<div class="alert alert-success">
					<center>
						<small>Add new training/training schedule.</small><br>
						<button md-ink-ripple class="md-btn md-raised m-b btn-fw green" ng-click="useExisting()">Add Training</button>
					</center>
				</div>
			</div>
		</div>
	</div>
	