	
	<div class="modal-header">
		<h3 class="modal-title">Participant Profile</h3>
	</div>
	<div class="modal-body" style="background-color: #EFEFEF">
		<div class="box">
		    <div class="col-md-3">
		      	<div style="background:url({{userData.image}}) center center; background-size:cover">
		        	<div class="p-lg bg-white-overlay text-center">
		          		<a href class="w-xs inline">
		            		<img ng-src="{{userData.image}}" class="img-circle img-responsive">
		          		</a>
		          		<div class="m-b m-t-sm h2">
		            		<span class="text-black">{{userData.firstname}}</span>
		          		</div>
		          	<p>
		            	Great day, Great life
		         	</p>
		        	</div>
		      	</div>
		      	<ul class="nav nav-lists b-t" ui-nav>
			        <li class="active"  ng-click="toggleWhatToShow('profile')">
			          	<a href>Profile</a>
			        </li>
			        <li  ng-click="toggleWhatToShow('training')">
			          	<a href>Trainings Attended</a>
			        </li>
			         <li  ng-click="toggleWhatToShow('payment')">
			          	<a href>Payment</a>
			        </li>
		      	</ul>
		    </div>
		    <div class="col-md-9 bg-white">
		    	<div class="p-md bg-light lt b-b font-bold">{{title}} <buttonng ng-show="showProfile" ng-click="editMode()" class="btn btn-default pull-right"><i class="fa fa-edit"></i></button></div>
		    	<!--  Profile-->
		    	<div ng-show="showProfile">
				    <form role="form" class="p-md col-md-6">
				        <div class="form-group">
				          	<label>Profile picture</label>
				          	<div class="form-file">
				           	 	<input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" required>
				            	<button class="btn btn-default" ng-disabled="!editable">Upload new picture</button>
				         	 </div>
				        </div>
				        <div class="form-group">
				          	<label>First name</label>
				          	<input type="text" ng-model="userData.firstname" class="form-control" ng-disabled="!editable">
				        </div>
				        <div class="form-group">
				         	<label>Middle name</label>
				          	<input type="text" ng-model="userData.middlename" class="form-control" ng-disabled="!editable">
				        </div>
				        <div class="form-group">
				          	<label>Last name</label>
				          	<input type="text" ng-model="userData.lastname" class="form-control" ng-disabled="!editable">
				        </div>
				        <div class="form-group">
				          	<label>Email</label>
				          	<input type="text" ng-model="userData.email" class="form-control" ng-disabled="!editable">
				        </div>
				        <div class="form-group">
				          	<label>Phone</label>
				          	<input type="number" ng-model="userData.phone" class="form-control" ng-disabled="!editable">
				        </div>
				        <div class="form-group">
				          	<label>Company</label>
				          	<input type="text" ng-model="userData.company" class="form-control" ng-disabled="!editable">
				        </div>
				        <div class="form-group">
				          	<label>Position</label>
				          	<input type="text" ng-model="userData.position" class="form-control" ng-disabled="!editable">
				        </div>
				        <div class="form-group">
				          	<label>Address</label>
				          	<input type="text" ng-model="userData.address" class="form-control" ng-disabled="!editable">
				        </div>
				        <div class="form-group">
				          	<label>Participant Number</label>
				          	<input type="number" ng-model="userData.number" class="form-control" ng-disabled="!editable">
				        </div>

				        <button type="submit" class="btn btn-info m-t" ng-disabled="!editable" ng-click="update(picFile)">Submit</button>
				    </form>
				</div>
				<!-- END Profile -->
				<!-- START Trainings Attended -->
				<div ng-show="showTraining">
					<table class="table table-bordered table-hover bg-white">
						<thead>
				        	<tr>
				            	<th  style="width:3%">#</th>
				            	<th  style="width:25%">Course name</th>
				            	<th  style="width:25%">Training Date</th>
				            	<th  style="width:25%">Training Venue</th>
				          	</tr>
				        </thead>
						<tbody>
						  <tr ng-repeat="item in trainings track by $index">
				            	<td  style="width:10%">{{$index + 1}}</td>
				            	<td  style="width:25%">{{item.course_name}}</td>
				            	<td  style="width:25%">{{item.from_date}} - {{item.to_date}}</td>
				            	<td  style="width:25%">{{item.location}}</td>
				          	</tr>
				        </tbody>
				  </table>
				</div>
				<!-- END Trainings Attended -->
				<!-- START Payment -->
				<div ng-show="showPayment">
					<div style="width: 150px;" class="pull-right">
				  		<select class="form-control" ng-model="trainingData.training_id" ng-change="payment()">
				  			<option ng-repeat="item in trainings track by $index" value="{{item.training_id}}">{{item.course_name}}</option>
				  		</select>
				  	</div>
				  	<div class="box">
				  		<label>Payment Information</label>
				  		<table class="table table-bordered table-hover bg-white">
							<thead>
						        <tr>
						            <th>Course name</th>
						            <th>Training Fee</th>
						            <th>Amount paid</th>
						            <th>Balance</th>
						            <th>Date Paid</th>
						            <th></th>
						          </tr>
						       </thead>
							<tbody>
								<tr ng-repeat="item in payments track by $index">
						        	<td>{{item.course_name}}</td>
						            <td>{{item.regular_fee}}</td>
						            <td>{{item.amount_paid}}</td>
						            <td>{{userData.balance}}</td>
						            <td>{{item.date_paid}}</td>
						            <td></td>
						        </tr>
						    </tbody>
						</table>
				  	</div>
				</div>
				<!-- END Payment -->
				<!-- START Registration detail -->
				<div ng-show="showRegistration">

				</div>
				<!-- END Registration detail -->
		    </div>
	  	</div>
	</div>
	<div class="modal-footer">                  
		<button class="btn btn-default" ng-click="ok()">Close</button>
	</div>
