	
	<div class="modal-header">
		<h3 class="modal-title">Participant Profile</h3>
	</div>
	<div class="modal-body" style="background-color: #EFEFEF">
		<div class="box">
		    <div class="col-md-3">
		      	<div style="background:url(http://localhost/j3safetysolutions/uploads/delegates/settings-512.png) center center; background-size:cover">
		        	<div class="p-lg bg-white-overlay text-center">
		          		<a href class="w-xs inline">
		            		<img src="http://localhost/j3safetysolutions/uploads/delegates/settings-512.png" class="img-circle img-responsive">
		          		</a>
		          		<div class="m-b m-t-sm h2">
		            		<span class="text-black">Mike</span>
		          		</div>
		          	<p>
		            	Great day, Great life
		         	</p>
		        	</div>
		      	</div>
		      	<ul class="nav nav-lists b-t" ui-nav>
			        <li class="active">
			          	<a href>Profile</a>
			        </li>
			        <li>
			          	<a href>Trainings Attended</a>
			        </li>
			        <li>
			          	<a href>Payment</a>
			        </li>
			        <li>
			          	<a href>Registration Detail</a>
			        </li>
		      	</ul>
		    </div>
		    <div class="col-md-9 bg-white">
		    	<div class="p-md bg-light lt b-b font-bold">Public profile</div>
		    	<!--  Profile-->
		    	<div>
				    <form role="form" class="p-md col-md-6">
				        <div class="form-group">
				          	<label>Profile picture</label>
				          	<div class="form-file">
				           	 	<input type="file" ng-model="image" accept="image/*">
				            	<button class="btn btn-default">Upload new picture</button>
				         	 </div>
				        </div>
				        <div class="form-group">
				          	<label>First name</label>
				          	<input type="text" ng-model="data.firstname" class="form-control">
				        </div>
				        <div class="form-group">
				         	<label>Middle name</label>
				          	<input type="text" ng-model="data.middlename" class="form-control">
				        </div>
				        <div class="form-group">
				          	<label>Last name</label>
				          	<input type="text" ng-model="data.lastname" class="form-control">
				        </div>
				        <div class="form-group">
				          	<label>Email</label>
				          	<input type="text" ng-model="data.email" class="form-control">
				        </div>
				        <div class="form-group">
				          	<label>Phone</label>
				          	<input type="number" ng-model="data.phone" class="form-control">
				        </div>
				        <div class="form-group">
				          	<label>Company</label>
				          	<input type="text" ng-model="data.company" class="form-control">
				        </div>
				        <div class="form-group">
				          	<label>Position</label>
				          	<input type="text" ng-model="data.position" class="form-control">
				        </div>
				        <div class="form-group">
				          	<label>Address</label>
				          	<input type="text" ng-model="data.address" class="form-control">
				        </div>

				        <button type="submit" class="btn btn-info m-t">Submit</button>
				    </form>
				</div>
				<!-- END Profile -->
				<!-- START Trainings Attended -->
				<div>
					<table class="table table-bordered table-hover bg-white">
					<thead>
			        	<tr>
			            	<th  style="width:3%">#</th>
			            	<th  style="width:3%">Image</th>
			            	<th  style="width:25%">Full name</th>
			            	<th  style="width:25%">Address</th>
			            	<th  style="width:25%">Phone</th>
			            	<th  style="width:25%">Email</th>
			           	 	<th  style="width:3%"></th>
			          	</tr>
			        </thead>
					<tbody>
					  <tr ng-repeat="delegate in delegateList | filter: searchKeyword track by $index">
			            	<td  style="width:10%">{{$index + 1}}</td>
			            	<td  style="width:25%"><img height="30" width="30" class="img img-circle" ng-src="{{delegate.image}}"/></td>
			            	<td  style="width:25%">{{delegate.firstname}} {{delegate.middlename}} . {{delegate.lastname}}</td>
			            	<td  style="width:25%">{{delegate.address}}</td>
			            	<td  style="width:25%">{{delegate.phone}}</td>
			            	<td  style="width:25%">{{delegate.email}}</td>
			            	<td><a href ng-click="showParticipantProfile('{{delegate.delegate_id}}')"><i class="icon mdi-action-perm-identity"></i></a></td>
			          	</tr>
			        </tbody>
				  </table>
				</div>
				<!-- END Trainings Attended -->
				<!-- START Payment -->
				<div>

				</div>
				<!-- END Payment -->
				<!-- START Registration detail -->
				<div>

				</div>
				<!-- END Registration detail -->
		    </div>
	  	</div>
	</div>
	<div class="modal-footer">                  
		<button class="btn btn-default" ng-click="ok()">Close</button>
	</div>
