  
	<div ng-controller="participantController"> 
		<div class="col-sm-3" style="margin-left: -13px;">
		  <select class="form-control" ng-model="training_id" ng-change="loadTrainingDelegates()">
			<option ng-repeat="item in trainingList track by $index" value="{{item.training_id}}">{{item.course_name}}</option>
		  </select>
		</div>
	 <div class="pull-right">
		 <button md-ink-ripple class="md-btn md-raised m-b pink" ng-click="add()"><i class="fa fa-plus"></i> Participant</button>
	 </div>
	  <div class="input-group pull-right" style="width: 200px; margin-right: 1%;">
            <input class="form-control" ng-model="searchKeyword" placeholder="Search" type="search" ng-change="search()" /> 
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</span>
       </div>
	 <button md-ink-ripple class="btn btn-default"><i class="fa fa-refresh" ng-click="loadTrainingDelegates()"></i></button>
	 <div id="printMe">
	  <table class="table table-bordered table-hover bg-white">
		 <thead>
          <tr>
            <th  style="width:3%">#</th>
            <th  style="width:3%">Image</th>
            <th  style="width:25%">Full name</th>
            <th  style="width:25%">Address</th>
            <th  style="width:25%">Phone</th>
            <th  style="width:25%">Email</th>
            <th  style="width:3%"></th>
          </tr>
        </thead>
		 <tbody>
		  <tr ng-repeat="delegate in delegateList | filter: searchKeyword track by $index">
            <td  style="width:10%">{{$index + 1}}</td>
            <td  style="width:25%"><img height="30" width="30" class="img img-circle" ng-src="{{delegate.image}}"/></td>
            <td  style="width:25%">{{delegate.firstname}} {{delegate.middlename}} . {{delegate.lastname}}</td>
            <td  style="width:25%">{{delegate.address}}</td>
            <td  style="width:25%">{{delegate.phone}}</td>
            <td  style="width:25%">{{delegate.email}}</td>
            <td><a href ng-click="showParticipantProfile(delegate.delegate_id)"><i class="icon mdi-action-perm-identity"></i></a></td>
          </tr>
        </tbody>
	  </table>
	 </div>
	</div>

	  